<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cuora</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">


  <!-- Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Chatbot Panel -->
<div class="main-section">
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 first-section">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-6 left-first-section">
          <p><i class="fa fa-comments fa-sm text-white"></i> Cuorask</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
          <a href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 second-section">
      <div class="chat-section">
        <ul>
          <li>
            <div class="left-chat">
              <img src="img/user1.svg">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div class="right-chat">
              <img src="img/user2.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
          <li>
            <div class="left-chat">
              <img src="img/user1.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
          <li>
            <div class="right-chat">
              <img src="img/user2.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
          <li>
            <div class="left-chat">
              <img src="img/user1.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
          <li>
            <div class="right-chat">
              <img src="img/user2.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
          <li>
            <div class="left-chat">
              <img src="img/user1.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
          <li>
            <div class="right-chat">
              <img src="img/user2.svg">
              <p>Lorem ipsum dolor sit ameeserunt.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 third-section">
      <div class="text-bar">
        <input type="text" placeholder="Ask me a question."><a href="#"><i class="fa fa-arrow-right"
                                                                           aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Chatbot Panel End -->

<!-- Main Title -->
<div class="container">
  <h1 class="site-heading text-center text-blue d-none d-lg-block">
    <span class="site-heading-lower">Cuora</span>
  </h1>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Cuora</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="newsevents.html">News/Events
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="gpaCalculator.html">GPA Calculator</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="faqs.html">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>

  <div>

    <div class="container">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded">
              <h2 class="section-heading mb-4">
                <br>
                <span class="section-heading-upper">Cuora's</span>
                <span class="section-heading-lower">FAQs</span>
              </h2>
              <p> This section contains a wealth of information, related to Cuora and about us. If you cannot find an
                answer to your question, make sure to contact us. </p>
              <br>
            </div>

            <div class="" id="accordion">
              <div class="faqHeader">General questions</div>
              <div class="card ">
                <div class="card-header">
                  <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is
                      account registration required?</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="card-block">
                    Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or
                    buying themes.
                    This ensures a valid communication channel for all parties involved in any transactions.
                  </div>
                </div>
              </div>
              <div class="card ">
                <div class="card-header">
                  <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTen">Can I submit my own Bootstrap templates or themes?</a>
                  </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                  <div class="card-block">
                    A lot of the content of the site has been submitted by the community. Whether it is a commercial
                    element/template/theme
                    or a free one, you are encouraged to contribute. All credits are published along with the resources.
                  </div>
                </div>
              </div>
              <div class="card ">
                <div class="card-header">
                  <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseEleven">What is the currency used for all transactions?</a>
                  </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                  <div class="card-block">
                    All prices for themes, templates and other items, including each seller's or buyer's account balance
                    are in <strong>USD</strong>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<!-- Footer -->
<footer class="footer text-faded text-center py-4 container-fluid">
  <div class="container-fluid">
    <p class="m-0 small">Copyright &copy; TeamClement 2018</p>
  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  $(document).ready(function () {
    $(".left-first-section").click(function () {
      $('.main-section').toggleClass("open-more");
    });
  });
  $(document).ready(function () {
    $(".fa-minus").click(function () {
      $('.main-section').toggleClass("open-more");
    });
  });

</script>
</body>
</html>
