<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cuora</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css' )}}">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/business-casual.min.css' )}}">


  <!-- Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Chatbot Panel -->
<div class="main-section">
    <div class="row border-chat">
        <div class="col-md-12 col-sm-12 col-xs-12 first-section">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-6 left-first-section">
                    <p><i class="fa fa-comments fa-sm text-white"></i> Cuorask</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
                    <a href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 second-section">
      <div class="chat-section">
        <ul class="chat-input">
          <!-- Chat will be empty at the start chat input here-->
        </ul>
      </div>
    </div>
  </div>
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 third-section">
      <div class="text-bar">
        <input class="chattextbox" placeholder="Ask me a question."><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Chatbot Panel End -->

<!-- Main Title -->
<div class="container">
    <h1 class="site-heading text-center text-blue d-none d-lg-block">
        <span class="site-heading-lower">Cuora</span>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light py-lg-2" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Cuora</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/newsevents">News/Events
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/gpaCalculator">GPA Calculator</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>

    <div>
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded">
                            <h2 class="section-heading mb-4">
                                <br>
                                <span class="section-heading-upper">Cuora's</span>
                                <span class="section-heading-lower">FAQs</span>
                            </h2>
                            <p> This section contains a wealth of information, related to Cuora and about us. If you
                                cannot find an
                                answer to your question, make sure to contact us. </p>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <h2 class="section-heading mb-4">
                            <br>
                            <span class="section-heading-lower">General Questions</span>
                        </h2>

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        <b>Who are we?</b>

                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                       We are a group of Computer Science students from Nanyang Technological University currently in our year 4, we built this website for the sake of answering frequently asked questions from Freshmen. 
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                        <b>How did Cuora come about?</b>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                       We noticed a big problem every year at a school welcome event that many of the freshmen do not know how certain components of the course work, example such as how are the GPA calculated, how many group projects does a certain module have and so we decided to build a website which address most (if not more) of such issues. 
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        <b>Do I need an account for this website?</b>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        No account registration at Cuora is needed. You can freely use the tools as you wish.
                                    </div>
                                </div>
                            </div>

                        
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                        <b>Is Cuora affliated to SCSE?</b>
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Yes, think of this website as an additonal website of the official SCSE website.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                                        <b>I can't find the information I'm looking for. Who do I contact?</b>
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Any enquires that the ChatBot fails to return you, please contact us at clement.tan.xian.ren@gmail.com and we'll be more than happy to answer them for you. 
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <h2 class="section-heading mb-4">
                            <br>
                            <span class="section-heading-lower">Technicalities</span>
                        </h2>

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseA">
                                        <b>How does Cuorask work?</b>
                                    </a>
                                </div>
                                <div id="collapseA" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Whenever a question has been asked by a user, our Chat Bot will look for similarities in our system and return the relevant answer to the question.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseB">
                                        <b>I would like to use the chatbot in my project, how can I get the codes for it?</b>
                                    </a>
                                </div>
                                <div id="collapseB" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Please contact Clement our God at clement.tan.xian.ren@gmail.com for permission.
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<br><br><br>

<!-- Footer -->
<footer class="footer text-faded text-center py-4 container-fluid">
    <div class="container-fluid">
        <p class="m-0 small">Copyright &copy; TeamClement 2018</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
<script>
    $(document).ready(function () {
        $(".left-first-section").click(function () {
            $('.main-section').toggleClass("open-more");
        });
    });
    $(document).ready(function () {
        $(".fa-minus").click(function () {
            $('.main-section').toggleClass("open-more");
        });
    });

</script>
</body>
</html>
